.App {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.Weekday {
  display: block;
  flex: 1 0 0%;
  padding: 0, 8rem;
  background: transparent;
  font-size: 1.2rem;
  color: #637381;
  text-align: center;
}

.Week {
  display: flex;
}

.Day {
  display: block;
  flex: 1 0 0%;
  width: 14.28571%;
  margin: 0;
  padding: 0.8rem;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.Day--selected {
  background: #1b76de;
  border: 1px solid #1b76de;
  color: #fff;
}

.Day--hovering {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.Day + .Day,
.Day + .EmptyStateDay {
  margin-left: -1px;
}

.EmptyStateDay {
  display: block;
  flex: 1 0 0%;
  width: calc(100% /7);
  margin: 0;
  padding: 0.8rem;
  border: 1px solid #fff;
}


.EmptyStateDay + .EmptyStateDay,
.EmptyStateDay + .Day {
  margin-left: -1px;
}
